div.obvbg-images {
  border-bottom: 3px solid #4286f480;
  transition: background-color 0.5s ease;
  padding-top: 2px;
  padding-bottom: 8px;
}

div.obvbg-video {
  border-bottom: 3px solid #DB443780;
  transition: background-color 0.5s ease;
  padding-top: 2px;
  padding-bottom: 8px;
}

div.obvbg-maps {
  border-bottom: 3px solid #F4B40080;
  transition: background-color 0.5s ease;
  padding-top: 2px;
  padding-bottom: 8px;
}

div.obvbg-shop {
  border-bottom: 3px solid #0F9D5880;
  transition: background-color 0.5s ease;
  padding-top: 2px;
  padding-bottom: 8px;
}

div.obvbg-news {
  border-bottom: 3px solid #a0a0a050;
  transition: background-color 0.5s ease;
  padding-top: 2px;
  padding-bottom: 8px;
}